<a href="https://colab.research.google.com/github/Mp-Pro/Movie-recommendation/blob/main/movierecomm2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


POPULARITY RECOMMENDER

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
ratings = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Movie Recommendation System/datasets/ratings.csv")
movies_metadata = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Movie Recommendation System/datasets/movies_metadata.csv")

<ipython-input-3-9cd8a71b2a9e>:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies_metadata = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Movie Recommendation System/datasets/movies_metadata.csv")

In [4]:
ratings.isnull().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [6]:
movies_metadata.isnull().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

In [9]:
movies_metadata = movies_metadata[['id','title','vote_average','vote_count','popularity']]

In [10]:
movies_metadata

,id,title,vote_average,vote_count,popularity
0,862,Toy Story,7.7,5415.0,21.946943
1,8844,Jumanji,6.9,2413.0,17.015539
2,15602,Grumpier Old Men,6.5,92.0,11.7129
3,31357,Waiting to Exhale,6.1,34.0,3.859495
4,11862,Father of the Bride Part II,5.7,173.0,8.387519
...,...,...,...,...,...
45461,439050,Subdue,4.0,1.0,0.072051
45462,111109,Century of Birthing,9.0,3.0,0.178241
45463,67758,Betrayal,3.8,6.0,0.903007
45464,227506,Satan Triumphant,0.0,0.0,0.003503
45465,461257,Queerama,0.0,0.0,0.163015

In [15]:
movies_metadata.sort_values(by = 'vote_count',ascending=False)

,id,title,vote_average,vote_count,popularity
15480,27205,Inception,8.1,14075.0,29.108149
12481,155,The Dark Knight,8.3,12269.0,123.167259
14551,19995,Avatar,7.2,12114.0,185.070892
17818,24428,The Avengers,7.4,12000.0,89.887648
26564,293660,Deadpool,7.4,11444.0,187.860492
...,...,...,...,...,...
19730,1997-08-20,NaN,NaN,NaN,NaN
29502,122662,NaN,NaN,NaN,NaN
29503,2012-09-29,NaN,NaN,NaN,NaN
35586,249260,NaN,NaN,NaN,NaN
35587,2014-01-01,NaN,NaN,NaN,Beware Of Frost Bites

In [21]:
ratings.rename(columns={'movieId' : 'id'},inplace = True)
ratings['id'] = ratings['id'].astype('str')

In [22]:
merged_data = ratings.merge(movies_metadata,on='id')

In [23]:
merged_data.shape

(11437637, 8)

In [31]:
merged_data = merged_data[merged_data['vote_count'] >= 7000].sort_values('vote_average',ascending=False)

In [34]:
merged_data.drop_duplicates(subset=['id'],inplace = True)

In [35]:
merged_data.head(30)

,userId,id,rating,timestamp,title,vote_average,vote_count,popularity
11137872,792,278,3.0,832241189,The Shawshank Redemption,8.5,8358.0,51.645403
6422929,120447,550,3.0,845889275,Fight Club,8.3,9678.0,63.869599
3825025,12,155,1.0,943912539,The Dark Knight,8.3,12269.0,123.167259
10435038,100995,680,5.0,938900684,Pulp Fiction,8.3,8670.0,140.950236
9516755,174118,13,3.5,1105930785,Forrest Gump,8.2,8147.0,48.307194
8499913,128822,122,5.0,838985046,The Lord of the Rings: The Return of the King,8.1,8226.0,29.324358
11433665,248600,157336,1.5,1483094375,Interstellar,8.1,11187.0,32.213481
11433337,243331,27205,4.0,1275960427,Inception,8.1,14075.0,29.108149
10812982,20757,121,3.0,863024232,The Lord of the Rings: The Two Towers,8.0,7641.0,29.423537
11271633,11136,120,2.0,989289115,The Lord of the Rings: The Fellowship of the Ring,8.0,8892.0,32.070725
9976382,229991,603,3.0,1497079252,The Matrix,7.9,9079.0,33.366332
11437495,221327,118340,4.0,1417972867,Guardians of the Galaxy,7.9,10014.0,53.291601
5462199,95509,597,2.0,1156864989,Titanic,7.5,7770.0,26.88907
9270491,95862,22,4.0,845309552,Pirates of the Caribbean: The Curse of the Bla...,7.5,7191.0,47.326665
8604141,120583,671,3.0,867019479,Harry Potter and the Philosopher's Stone,7.5,7188.0,38.187238
9850623,229073,272,5.0,880108985,Batman Begins,7.5,7511.0,28.505341
9648739,215241,1726,4.0,1115164376,Iron Man,7.4,8951.0,22.073099
8700460,66193,1771,1.0,1475479926,Captain America: The First Avenger,6.6,7174.0,19.323582